<html>
  <head>
    <title>Contact us</title>
    <link rel="stylesheet" href="css/template.css" />
    <meta name="viewport" content="width=320, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="wrapper">
        <div class="row">
          <div class="w-2">
            <div id="logo">
              <img src="images/Logo.png" alt="Logo" />
            </div>
          </div>
          <div class="w-2 align-right">
            <div id="search">
              <div id="search-in" class="flex">
                <input type="text" placeholder="Search" />
                <button>Submit</button>
              </div>
            </div>

            <div id="menu">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="">Company Profile</a></li>
                <li><a href="index1.html">Products</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">R & D</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img width="100%" src="images/image 71.jpg" style="margin: 15px 0 0 0" />

    <div id="gray1" class="main">
      <div class="wrapper">
        <h3>Contact Us</h3>
        <img src="./../images/Union.png" alt="" />

        <div id="cartItems">
          <table>
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in cart">
                <td>
                  <img
                    :src="'images/'+item.image"
                    alt="Product Image"
                    style="width: 50px"
                  />
                </td>
                <td>{{ item.title }}</td>
                <td>{{ item.short_text }}</td>
                <td><button @click="removeFromCart(item.id)">X</button></td>
              </tr>
            </tbody>
          </table>
        </div>

        <form
          @submit.prevent="makeOrder"
          v-if="!orderSubmitted"
          action=""
          method="get"
          id="contactus"
        >
          <div id="form-w-1">
            <label class="column">
              <span>Name *</span>
              <input
                v-model="contactFields.name"
                type="text"
                id="name"
                name="name"
                required=""
              />
            </label>

            <label class="column">
              <span>Company Name</span>
              <input
                v-model="contactFields.company_name"
                type="text"
                id="company"
                name="company"
                required=""
              />
            </label>

            <label class="column">
              <span>Position</span>
              <input
                v-model="contactFields.position"
                type="text"
                id="position"
                name="position"
                required=""
              />
            </label>

            <label class="column">
              <span>City</span>
              <input
                v-model="contactFields.city"
                type="text"
                id="city"
                name="city"
                required=""
              />
            </label>

            <label class="column">
              <span>Country</span>
              <input
                v-model="contactFields.country"
                type="text"
                id="country"
                name="country"
                required=""
              />
            </label>

            <label class="column">
              <span>Telephone</span>
              <input
                v-model="contactFields.phone"
                type="tel"
                id="phone"
                name="phone"
                required=""
              />
            </label>

            <label class="column">
              <span>Email *</span>
              <input
                v-model="contactFields.email"
                type="email"
                id="mail"
                name="mail"
                required=""
              />
            </label>
          </div>

          <div id="form-w-2">
            <label class="column">
              <span>You are a</span>
              <select
                v-model="contactFields.job"
                type="text"
                id="job"
                name="job"
                required=""
              >
                <option selected=""></option>
                <option>seed producer</option>
                <option>other</option>
              </select>
            </label>

            <label class="column">
              <span>If other, please specify</span>
              <input
                v-model="contactFields.details"
                type="text"
                id="details"
                name="details"
                required=""
              />
            </label>

            <label class="column">
              <span>You are interested in</span>
              <textarea
                v-model="contactFields.interest"
                type="text"
                id="interest"
                name="interest"
                cols="20"
                rows="17"
                required
              ></textarea>
            </label>

            <p>Please type this code</p>
            <div class="flex submit">
              <img
                width="99px"
                src="/images/image 12.png"
                style="padding: 20px; margin-left: -20px"
              />
              <textarea v-model="contactFields.code" required=""></textarea>
              <button type="submit">Send Message</button>
            </div>
          </div>
        </form>

        <div v-if="orderSubmitted" class="orderSubmitted">
          <h4>Form submitted!</h4>
          <p>Name: {{ contactFields.name }}</p>
          <p>Company name: {{ contactFields.company_name }}</p>
          <p>Position: {{ contactFields.position }}</p>
          <p>City: {{ contactFields.city }}</p>
          <p>Country: {{ contactFields.country }}</p>
          <p>Phone: {{ contactFields.phone }}</p>
          <p>Email: {{ contactFields.email }}</p>
          <p>Job: {{ contactFields.job }}</p>
          <p>Details: {{ contactFields.details }}</p>
          <p>Interest: {{ contactFields.interest }}</p>
          <p>Code: {{ contactFields.code }}</p>
        </div>
      </div>
    </div>

    <div class="our-address">
      <h11>Our Address</h11>
      <p>AGRIDERA Seeds & Agriculture Ltd.</p>
      <p>P.O Box 103,</p>
      <p>Gedera 70750, Israel.</p>
      <p>Telephone: <a href="tel:+97289449222">+972 8 944 9222</a></p>
    </div>

    <div class="footer">
      <div class="wrapper footer-menu">
        <div class="links">
          <ul>
            <li><a href="#">PROFILE</a></li>
            <li><a href="#">MANAGEMENT</a></li>
            <li><a href="#">PRODUCTS</a></li>
            <li><a href="#">R&D</a></li>
            <li><a href="#">LINKS</a></li>
            <li><a href="#">SITEMAP</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div>
        <div class="social-networks">
          <a href="#"><img src="images/Ico_in.png" alt="In" /></a>
          <a href="#"><img src="images/Ico_inst.png" alt="Instagram" /></a>
          <a href="#"><img src="images/Ico_tube.png" alt="YouTube" /></a>
          <a href="#"><img src="images/Ico_tw.png" alt="Twitter" /></a>
          <a href="#"><img src="images/Ico_fb.png" alt="Facebook" /></a>
        </div>
      </div>

      <div class="credits">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
